*, *:before, *:after {
    box-sizing: border-box; 
}
body {
	background: #fff;
	font-family: $main_font;
	margin: 0;
	padding: 0;
}
figure {
    margin: 0;
}
img {
    height: auto;
    max-width: 100%;
}
a {
	color: $link_color;
	text-decoration: none;
	&:hover {
		color: $link_hover_color;
	}
	&:visited {
		color: $link_visited_color;
	}
}
.site-header,
.site-content,
.site-footer {
    float: left;
    padding: 1em 0;
    width: 100%;
}
