/* cf7 */ 
div.wpcf7 .ajax-loader {
	display: block;
	margin: 0 auto;
	text-align: center;
}
span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 0.8rem;
    font-weight: 700;
    font-style: italic;
}
div.wpcf7-response-output {
	font-size: 1.2rem;
	margin: 0;
	padding: 10px;
	text-align: center;
}
