.site-header {
	/* Make sure logo link wraps around logo image */
	.custom-logo-link {
		display: inline-block;
		max-width: 133px;
		&:hover {
			opacity: 0.7;
		}
	}
}
.main-navigation {
	@include rem('margin', 27, 0);
	@include clearfix;
	ul {
		background: #fff;
		list-style: none;
		margin: 0;
		padding-left: 0;
		@include soft-transition(0, all, 0.5s);
	}

	li {
		float: left;
		position: relative;
		&:last-child a {
			border-right: 0;
		}
		&.current-menu-item a {
			color: #111;
		}
		@include below(930px) {
			border-top: 1px solid #ddd;
			width: 100%;
			&:first-child {
				border-top: 0;
			}
		}
	}

	a {
		border-right: 1px solid #000;
		color: $gray_color;
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		@include font(16, 700);
		@include rem('padding', 5, 10);
		&:hover, &:focus {
			color: #111;
		}
		@include below(930px) {
			display: block;
		}
	}
}

/* Small menu */
.main-navigation.toggled ul {
	display: block;
	@include below(930px) {
		margin: 0;
		width: 100%;
	}
}
.menu-toggle {
	border: 0;
	border-radius: 3px;	
	cursor: pointer;	
	display: none;
	height: 48px;
	text-align: center;	
	width: 50px;

	transform: rotate(0deg);
	transition: .3s ease-in-out;
	span {
		background: $main_color;
		border-radius: 3px;
		display: block;
		height: 4px;
		left: 7px;
		opacity: 1;
		position: absolute;
		transform: rotate(0deg);
		width: 35px;
		@include soft-transition(0, all, 0.2s);
		&:nth-child(1) { 
			top: 12px;
		}
		&:nth-child(2),
		&:nth-child(3) { 
			top: 22px
		}
		&:nth-child(4) {
			top: 32px;
		}
	}
	&[aria-expanded="true"] {
		span:nth-child(1) {
			left: 50%;
			top: 18px;
			width: 0%;
		}
		span:nth-child(2) {
			transform: rotate(45deg);
		}
		span:nth-child(3) { 
			transform: rotate(-45deg);
		}
		span:nth-child(4) {
			left: 50%;
			top: 18px;
			width: 0%;
		}
	}
	@include below(930px) {
		display: block;
	}
}
