body,
button,
input,
select,
optgroup,
textarea {
	font-family: $main_font;
	line-height: 1.2;
	font-size: $base_font_size;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #ddd;
	font-family: consolas;
	font-size: 12px;
	line-height: 1.2;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font-family: consolas;
	font-size: 12px;
}
abbr, acronym {
	border-bottom: 1px dotted #ddd;
	cursor: help;
}
mark, ins {
	background: yellow;
	text-decoration: none;
}
big {
	font-size: 125%;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: $heading_color;	
	@include rem('margin', 10, auto);
}
h2 {
	color: $main_color;
}
p {
	clear: both;
	line-height: 1.4;
	margin: 2em 0 1.5em;
	width: 100%;
	@include font($paragraph_size, 300);
}
