// typography
$main_font: 'Roboto', sans-serif;
$heading_font: 'Roboto', serif;

$base_font_size: 16;
$heading_size: 30;
$paragraph_size: 14;

// colors
$main_color: #e90089;
$gray_color: #999;
$heading_color: #555;
$paragraph_color: #000;

// grid
$container_width: 1185px;
$grid_gutter: 10px;
$grid_columns: 12;
