### Default ###
/.DS_Store
/node_modules
/dw-dev/node_modules
/dw-dev/images

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
